doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Enter Game PIN - Kahoot!
        link(rel="icon",type="image/ico+xml" href="//assets-cdn.kahoot.it/player/v2/favicon.ico")
        link(rel="stylesheet" href="./css/style.css")
    body 
        - var kahoot_titles4answers = ['¿Cual es la ubicacion geográfica de Quibdó-Chocó?','¿Cuál es la principal actividad económica en Quibdó?','¿Cuál es el río más importante que atraviesa Quibdó?','¿Qué tipo de biodiversidad es característica de Quibdó y su región?','¿Cual es una actividad cultural destacada en Quibdo?']

        - var kahoot_titles2answers = ['Quibdó es conocido por tener un clima extremadamente seco durante todo el año','¿El departamente de Chocó limita con el oceano Atlántico?']

        - var kahoot_buttons1 = ['En la costa del caribe','Agricultura de granos','Rio Atrato','Osos polares','Fiesta de la vendemia']
        - var kahoot_buttons2 = ['En la region Andina','Artesania y mineria de oro','Rio Amazonas','Canguros','Carnaval de Negros y Blancos']
        - var kahoot_buttons3 = ['En la region del Amazonas','Pesca comercial','Rio Magdalena','Especies endémicos de plantas y animales','Festival de cine de terror']
        - var kahoot_buttons4 = ['En la region del Pacífico','Mineria de carbon','Rio Cauca','Anfibios y reptiles exoticos','Fiesta de San Pacho']
        - var kahoot_images_four = []
        - var kahoot_images_two = []

        main.slider
            section.user-pass
                article.user-pass__square 
                article.user-pass__circle
                article.user-pass__principal 
                    .user-pass__principal__content
                        .user-pass__principal__content__image
                        .user-pass__principal__content__form
                            input.user-pass__principal__content__form__input(type="text", name="", placeholder="Game PIN")
                            button.user-pass__principal__content__form__button
                                |Enter
                article.user-pass__footer
                    .user-pass__footer__text 
                        span Create your own kahoot for     
                        span FREE at kahoot.com
                    .user-pass__footer__text Terms | Privacy
            section.slider__content
                each item, index in Array(2) 
                    article.kahoot
                        .kahoot__text 
                            p=kahoot_titles4answers[index]
                        .kahoot__figure
                            .kahoot__figure__clock
                                p.kahoot__figure__clock__number
                                    |20
                            .kahoot__figure__image
                                img(src=`./media/four${index+1}.jpg` alt="")
                            .kahoot__figure__answers

                        .kahoot__buttons
                            .kahoot__buttons__content 
                                .kahoot__buttons__content__button.button1 
                                    .button__figure 
                                        svg(viewBox="0 0 32 32")
                                            path(d="M27,24.559972 L5,24.559972 L16,7 L27,24.559972 Z")
                                    .button__text
                                        p=kahoot_buttons1[index]
                                .kahoot__buttons__content__button.button2
                                    .button__figure 
                                        svg(viewBox="0 0 32 32")
                                            path(d="M4,16.0038341 L16,4 L28,16.0007668 L16,28 L4,16.0038341 Z")
                                    .button__text
                                        p=kahoot_buttons2[index]
                            .kahoot__buttons__content 
                                .kahoot__buttons__content__button.button3
                                    .button__figure 
                                        svg(viewBox="0 0 32 32")
                                            path(d="M16,27 C9.92486775,27 5,22.0751322 5,16 C5,9.92486775 9.92486775,5 16,5 C22.0751322,5 27,9.92486775 27,16 C27,22.0751322 22.0751322,27 16,27 Z")
                                    .button__text
                                        p=kahoot_buttons3[index]
                                .kahoot__buttons__content__button.button4
                                    .button__figure 
                                        svg(viewBox="0 0 32 32")
                                            path(d="M7,7 L25,7 L25,25 L7,25 L7,7 Z")
                                    .button__text
                                        p=kahoot_buttons4[index]
                        .kahoot__footer
                            .kahoot__footer__answers-numbers
                                p=`${index+1}/7`
                            .kahoot__footer__spaces-name 
                                p.kahoot__footer__spaces-name__text 
                                    |Alejandro
                            .kahoot__footer__icons
                                svg.kahoot__footer__icons__screenfull(viewBox="0 0 32 32")
                                    path(d="M7 24C7 24.5523 7.44772 25 8 25H14L14 23H9L9 18H7L7 24Z M25 8C25 7.44772 24.5523 7 24 7L18 7V9L23 9V14L25 14V8Z M8 7C7.44772 7 7 7.44772 7 8V14H9V9H14V7H8Z M24 25C24.5523 25 25 24.5523 25 24V18H23V23L18 23L18 25H24Z")

                                svg(viewBox="0 0 32 32")
                                    path(d="M7.83159109,16 C7.83159109,15.637 7.85915912,15.266 7.91429518,14.893 L6.51036785,14.099 C6.27655014,13.967 6.10501575,13.748 6.03456412,13.492 C5.9641125,13.236 6.00086987,12.963 6.13666793,12.733 L8.17874403,9.27 C8.46157157,8.792 9.08440478,8.627 9.57348201,8.903 L10.9804724,9.698 C11.5788007,9.24 12.2383913,8.865 12.9367814,8.585 L12.9367814,7 C12.9367814,6.448 13.3931854,6 13.9578194,6 L18.0419716,6 C18.6066057,6 19.0630097,6.448 19.0630097,7 L19.0630097,8.586 C19.7613997,8.864 20.4209903,9.24 21.0193186,9.697 L22.426309,8.902 C22.6601267,8.769 22.9398912,8.734 23.2012769,8.802 C23.4626626,8.87 23.6852489,9.038 23.821047,9.267 L25.8631231,12.731 C26.1449296,13.209 25.9774794,13.821 25.4904442,14.097 L24.0854959,14.892 C24.1406319,15.265 24.1681999,15.636 24.1681999,16 C24.1681999,16.364 24.1406319,16.735 24.0854959,17.108 L25.4904442,17.903 C25.9774794,18.179 26.1449296,18.791 25.8631231,19.269 L23.821047,22.733 C23.6852489,22.962 23.4626626,23.13 23.2012769,23.198 C22.9398912,23.266 22.6601267,23.231 22.426309,23.098 L21.0193186,22.303 C20.4209903,22.76 19.7613997,23.136 19.0630097,23.414 L19.0630097,25 C19.0630097,25.552 18.6066057,26 18.0419716,26 L13.9578194,26 C13.3931854,26 12.9367814,25.552 12.9367814,25 L12.9367814,23.415 C12.2383913,23.135 11.5788007,22.76 10.9804724,22.302 L9.57348201,23.097 C9.08440478,23.373 8.46157157,23.208 8.17874403,22.73 L6.13666793,19.267 C6.00086987,19.037 5.9641125,18.764 6.03456412,18.508 C6.10501575,18.252 6.27655014,18.033 6.51036785,17.901 L7.91429518,17.107 C7.85915912,16.734 7.83159109,16.363 7.83159109,16 Z M9.8736672,16 C9.8736672,16.455 9.92982429,16.908 10.0452016,17.39 C10.1493475,17.82 9.95330817,18.265 9.56225059,18.485 L8.41562486,19.133 L9.43666291,20.865 L10.5843097,20.217 C10.9784304,19.997 11.4695497,20.053 11.7962819,20.357 C12.4936508,21.002 13.3431545,21.483 14.2498363,21.749 C14.6827564,21.875 14.9788575,22.266 14.9788575,22.707 L14.9788575,24 L17.0209336,24 L17.0209336,22.707 C17.0209336,22.265 17.3180556,21.875 17.7509758,21.749 C18.6556155,21.484 19.5030771,21.003 20.2035092,20.357 C20.5322834,20.053 21.0254448,19.996 21.4154813,20.217 L22.5631281,20.866 L23.5841662,19.135 L22.4375404,18.484 C22.0464829,18.264 21.8504436,17.819 21.9545894,17.39 C22.0699667,16.908 22.1261238,16.454 22.1261238,16 C22.1261238,15.546 22.0699667,15.092 21.9545894,14.61 C21.8504436,14.181 22.0464829,13.736 22.4375404,13.516 L23.5841662,12.865 L22.5631281,11.134 L21.4154813,11.783 C21.0254448,12.004 20.5322834,11.947 20.2035092,11.643 C19.5030771,10.997 18.6556155,10.516 17.7509758,10.251 C17.3180556,10.125 17.0209336,9.735 17.0209336,9.293 L17.0209336,8 L14.9788575,8 L14.9788575,9.293 C14.9788575,9.734 14.6827564,10.125 14.2498363,10.251 C13.3431545,10.517 12.4936508,10.998 11.7962819,11.643 C11.4695497,11.947 10.9784304,12.003 10.5843097,11.783 L9.43666291,11.135 L8.41562486,12.867 L9.56225059,13.515 C9.95330817,13.735 10.1493475,14.18 10.0452016,14.61 C9.92982429,15.092 9.8736672,15.545 9.8736672,16 Z M16,18 C14.8954305,18 14,17.1045695 14,16 C14,14.8954305 14.8954305,14 16,14 C17.1045695,14 18,14.8954305 18,16 C18,17.1045695 17.1045695,18 16,18 Z")
                                
                                svg(viewBox="0 0 32 32")
                                    path(d="M15.3827 7.0786C15.0087 6.9246 14.5787 7.0096 14.2927 7.2956L9.9997 12.0026 6.9997 12.0026C6.4497 12.0026 5.9997 12.4536 5.9997 13.0026L5.9997 19.0026C5.9997 19.5526 6.4497 20.0026 6.9997 20.0026L9.9997 20.0026 14.2927 24.7096C14.5787 24.9956 15.0087 25.0806 15.3827 24.9266 15.7567 24.7726 15.9997 24.4076 15.9997 24.0026L15.9997 8.0026C15.9997 7.5986 15.7567 7.2326 15.3827 7.0786M17.9999 13.0024L17.9999 15.0024C18.5509 15.0024 18.9999 15.4514 18.9999 16.0024 18.9999 16.5534 18.5509 17.0024 17.9999 17.0024L17.9999 19.0024C19.6539 19.0024 20.9999 17.6574 20.9999 16.0024 20.9999 14.3484 19.6539 13.0024 17.9999 13.0024z")
                        
                    article.kahoot.kahoot--correct-incorrect
                        .kahoot__incorrect
                            p.kahoot__incorrect__text.kahoot--correct-incorrect__text
                                |Incorrect
                            p.kahoot__incorrect__text--times-up.kahoot--correct-incorrect__text
                                |Time's up
                            svg(width="80",height="80",viewBox="0 0 80 80")
                                circle(cx="40",cy="40",r="37.895",fill="#F35", stroke="#FFF",stroke-width="4.211")
                                path(d="M39.99 12.621v14.736l14.736.001V39.99H39.99v14.736H27.359V39.99H12.62V27.359h14.736l.001-14.737H39.99z",transform="translate(6.316 6.316) rotate(-135 33.674 33.674)",fill="#FFF",fill-rule="nonzero" stroke="#000",stroke-opacity="0.15",stroke-width="2.105")

                        .kahoot__correct
                            p.kahoot__correct__text.kahoot--correct-incorrect__text
                                |Correct
                            svg(width="80",height="80",viewBox="0 0 80 80")
                                circle(cx="40",cy="40",r="37.895",fill="#66BF39", stroke="#FFF",stroke-width="4.211")
                                path(d="M46.244 15.355l8.127 7.393-25.623 28.184-15.526-14.483 7.743-7.747 7.333 6.396 17.946-19.743", transform="translate(6.316 6.316) rotate(-3 33.81 33.138)", fill="#FFF", fill-rule="nonzero", stroke="#000", stroke-opacity="0.15", stroke-width="2.105")

                each item, index in Array(2) 
                    article.kahoot
                        .kahoot__text 
                            p=kahoot_titles2answers[index]
                        .kahoot__figure
                            .kahoot__figure__clock
                                p.kahoot__figure__clock__number
                                    |20
                            .kahoot__figure__image
                                img(src=`./media/two${index+1}.jpg` alt="")
                            .kahoot__figure__answers

                        .kahoot__buttons
                            .kahoot__buttons__content 
                                .kahoot__buttons__content__button.button2 
                                    .button__figure 
                                        svg(viewBox="0 0 32 32")
                                            path(d="M4,16.0038341 L16,4 L28,16.0007668 L16,28 L4,16.0038341 Z")
                                    .button__text
                                        p True
                                .kahoot__buttons__content__button.button1
                                    .button__figure
                                        svg(viewBox="0 0 32 32")
                                            path(d="M27,24.559972 L5,24.559972 L16,7 L27,24.559972 Z") 
                                    .button__text
                                        p False
                        .kahoot__footer
                            .kahoot__footer__answers-numbers
                                p=`${index+3}/7`
                            .kahoot__footer__spaces-name 
                                p.kahoot__footer__spaces-name__text 
                                    |Alejandro
                            .kahoot__footer__icons
                                svg.kahoot__footer__icons__screenfull(viewBox="0 0 32 32")
                                    path(d="M7 24C7 24.5523 7.44772 25 8 25H14L14 23H9L9 18H7L7 24Z M25 8C25 7.44772 24.5523 7 24 7L18 7V9L23 9V14L25 14V8Z M8 7C7.44772 7 7 7.44772 7 8V14H9V9H14V7H8Z M24 25C24.5523 25 25 24.5523 25 24V18H23V23L18 23L18 25H24Z")

                                svg(viewBox="0 0 32 32")
                                    path(d="M7.83159109,16 C7.83159109,15.637 7.85915912,15.266 7.91429518,14.893 L6.51036785,14.099 C6.27655014,13.967 6.10501575,13.748 6.03456412,13.492 C5.9641125,13.236 6.00086987,12.963 6.13666793,12.733 L8.17874403,9.27 C8.46157157,8.792 9.08440478,8.627 9.57348201,8.903 L10.9804724,9.698 C11.5788007,9.24 12.2383913,8.865 12.9367814,8.585 L12.9367814,7 C12.9367814,6.448 13.3931854,6 13.9578194,6 L18.0419716,6 C18.6066057,6 19.0630097,6.448 19.0630097,7 L19.0630097,8.586 C19.7613997,8.864 20.4209903,9.24 21.0193186,9.697 L22.426309,8.902 C22.6601267,8.769 22.9398912,8.734 23.2012769,8.802 C23.4626626,8.87 23.6852489,9.038 23.821047,9.267 L25.8631231,12.731 C26.1449296,13.209 25.9774794,13.821 25.4904442,14.097 L24.0854959,14.892 C24.1406319,15.265 24.1681999,15.636 24.1681999,16 C24.1681999,16.364 24.1406319,16.735 24.0854959,17.108 L25.4904442,17.903 C25.9774794,18.179 26.1449296,18.791 25.8631231,19.269 L23.821047,22.733 C23.6852489,22.962 23.4626626,23.13 23.2012769,23.198 C22.9398912,23.266 22.6601267,23.231 22.426309,23.098 L21.0193186,22.303 C20.4209903,22.76 19.7613997,23.136 19.0630097,23.414 L19.0630097,25 C19.0630097,25.552 18.6066057,26 18.0419716,26 L13.9578194,26 C13.3931854,26 12.9367814,25.552 12.9367814,25 L12.9367814,23.415 C12.2383913,23.135 11.5788007,22.76 10.9804724,22.302 L9.57348201,23.097 C9.08440478,23.373 8.46157157,23.208 8.17874403,22.73 L6.13666793,19.267 C6.00086987,19.037 5.9641125,18.764 6.03456412,18.508 C6.10501575,18.252 6.27655014,18.033 6.51036785,17.901 L7.91429518,17.107 C7.85915912,16.734 7.83159109,16.363 7.83159109,16 Z M9.8736672,16 C9.8736672,16.455 9.92982429,16.908 10.0452016,17.39 C10.1493475,17.82 9.95330817,18.265 9.56225059,18.485 L8.41562486,19.133 L9.43666291,20.865 L10.5843097,20.217 C10.9784304,19.997 11.4695497,20.053 11.7962819,20.357 C12.4936508,21.002 13.3431545,21.483 14.2498363,21.749 C14.6827564,21.875 14.9788575,22.266 14.9788575,22.707 L14.9788575,24 L17.0209336,24 L17.0209336,22.707 C17.0209336,22.265 17.3180556,21.875 17.7509758,21.749 C18.6556155,21.484 19.5030771,21.003 20.2035092,20.357 C20.5322834,20.053 21.0254448,19.996 21.4154813,20.217 L22.5631281,20.866 L23.5841662,19.135 L22.4375404,18.484 C22.0464829,18.264 21.8504436,17.819 21.9545894,17.39 C22.0699667,16.908 22.1261238,16.454 22.1261238,16 C22.1261238,15.546 22.0699667,15.092 21.9545894,14.61 C21.8504436,14.181 22.0464829,13.736 22.4375404,13.516 L23.5841662,12.865 L22.5631281,11.134 L21.4154813,11.783 C21.0254448,12.004 20.5322834,11.947 20.2035092,11.643 C19.5030771,10.997 18.6556155,10.516 17.7509758,10.251 C17.3180556,10.125 17.0209336,9.735 17.0209336,9.293 L17.0209336,8 L14.9788575,8 L14.9788575,9.293 C14.9788575,9.734 14.6827564,10.125 14.2498363,10.251 C13.3431545,10.517 12.4936508,10.998 11.7962819,11.643 C11.4695497,11.947 10.9784304,12.003 10.5843097,11.783 L9.43666291,11.135 L8.41562486,12.867 L9.56225059,13.515 C9.95330817,13.735 10.1493475,14.18 10.0452016,14.61 C9.92982429,15.092 9.8736672,15.545 9.8736672,16 Z M16,18 C14.8954305,18 14,17.1045695 14,16 C14,14.8954305 14.8954305,14 16,14 C17.1045695,14 18,14.8954305 18,16 C18,17.1045695 17.1045695,18 16,18 Z")
                                
                                svg(viewBox="0 0 32 32")
                                    path(d="M15.3827 7.0786C15.0087 6.9246 14.5787 7.0096 14.2927 7.2956L9.9997 12.0026 6.9997 12.0026C6.4497 12.0026 5.9997 12.4536 5.9997 13.0026L5.9997 19.0026C5.9997 19.5526 6.4497 20.0026 6.9997 20.0026L9.9997 20.0026 14.2927 24.7096C14.5787 24.9956 15.0087 25.0806 15.3827 24.9266 15.7567 24.7726 15.9997 24.4076 15.9997 24.0026L15.9997 8.0026C15.9997 7.5986 15.7567 7.2326 15.3827 7.0786M17.9999 13.0024L17.9999 15.0024C18.5509 15.0024 18.9999 15.4514 18.9999 16.0024 18.9999 16.5534 18.5509 17.0024 17.9999 17.0024L17.9999 19.0024C19.6539 19.0024 20.9999 17.6574 20.9999 16.0024 20.9999 14.3484 19.6539 13.0024 17.9999 13.0024z")
                        
                    article.kahoot
                        .kahoot__incorrect
                            p.kahoot__incorrect__text.kahoot--correct-incorrect__text
                                |Incorrect
                            p.kahoot__incorrect__text--times-up.kahoot--correct-incorrect__text
                                |Time's up
                            svg(width="80",height="80",viewBox="0 0 80 80")
                                circle(cx="40",cy="40",r="37.895",fill="#F35", stroke="#FFF",stroke-width="4.211")
                                path(d="M39.99 12.621v14.736l14.736.001V39.99H39.99v14.736H27.359V39.99H12.62V27.359h14.736l.001-14.737H39.99z",transform="translate(6.316 6.316) rotate(-135 33.674 33.674)",fill="#FFF",fill-rule="nonzero" stroke="#000",stroke-opacity="0.15",stroke-width="2.105")
                        .kahoot__correct
                            p.kahoot__correct__text.kahoot--correct-incorrect__text
                                |Correct
                            svg(width="80",height="80",viewBox="0 0 80 80")
                                circle(cx="40",cy="40",r="37.895",fill="#66BF39", stroke="#FFF",stroke-width="4.211")
                                path(d="M46.244 15.355l8.127 7.393-25.623 28.184-15.526-14.483 7.743-7.747 7.333 6.396 17.946-19.743", transform="translate(6.316 6.316) rotate(-3 33.81 33.138)", fill="#FFF", fill-rule="nonzero", stroke="#000", stroke-opacity="0.15", stroke-width="2.105")
                each item, index in Array(3) 
                    article.kahoot
                        .kahoot__text 
                            p=kahoot_titles4answers[index+2]
                        .kahoot__figure
                            .kahoot__figure__clock
                                p.kahoot__figure__clock__number
                                    |20
                            .kahoot__figure__image
                                img(src=`./media/four${index+3}.jpg` alt="")
                            .kahoot__figure__answers

                        .kahoot__buttons
                            .kahoot__buttons__content 
                                .kahoot__buttons__content__button.button1 
                                    .button__figure 
                                        svg(viewBox="0 0 32 32")
                                            path(d="M27,24.559972 L5,24.559972 L16,7 L27,24.559972 Z")
                                    .button__text
                                        p=kahoot_buttons1[index+2]
                                .kahoot__buttons__content__button.button2
                                    .button__figure 
                                        svg(viewBox="0 0 32 32")
                                            path(d="M4,16.0038341 L16,4 L28,16.0007668 L16,28 L4,16.0038341 Z")
                                    .button__text
                                        p=kahoot_buttons2[index+2]
                            .kahoot__buttons__content 
                                .kahoot__buttons__content__button.button3
                                    .button__figure 
                                        svg(viewBox="0 0 32 32")
                                            path(d="M16,27 C9.92486775,27 5,22.0751322 5,16 C5,9.92486775 9.92486775,5 16,5 C22.0751322,5 27,9.92486775 27,16 C27,22.0751322 22.0751322,27 16,27 Z")
                                    .button__text
                                        p=kahoot_buttons3[index+2]
                                .kahoot__buttons__content__button.button4
                                    .button__figure 
                                        svg(viewBox="0 0 32 32")
                                            path(d="M7,7 L25,7 L25,25 L7,25 L7,7 Z")
                                    .button__text
                                        p=kahoot_buttons4[index+2]
                        .kahoot__footer
                            .kahoot__footer__answers-numbers
                                p=`${index+5}/7`
                            .kahoot__footer__spaces-name 
                                p.kahoot__footer__spaces-name__text 
                                    |Alejandro
                            .kahoot__footer__icons
                                svg.kahoot__footer__icons__screenfull(viewBox="0 0 32 32")
                                    path(d="M7 24C7 24.5523 7.44772 25 8 25H14L14 23H9L9 18H7L7 24Z M25 8C25 7.44772 24.5523 7 24 7L18 7V9L23 9V14L25 14V8Z M8 7C7.44772 7 7 7.44772 7 8V14H9V9H14V7H8Z M24 25C24.5523 25 25 24.5523 25 24V18H23V23L18 23L18 25H24Z")

                                svg(viewBox="0 0 32 32")
                                    path(d="M7.83159109,16 C7.83159109,15.637 7.85915912,15.266 7.91429518,14.893 L6.51036785,14.099 C6.27655014,13.967 6.10501575,13.748 6.03456412,13.492 C5.9641125,13.236 6.00086987,12.963 6.13666793,12.733 L8.17874403,9.27 C8.46157157,8.792 9.08440478,8.627 9.57348201,8.903 L10.9804724,9.698 C11.5788007,9.24 12.2383913,8.865 12.9367814,8.585 L12.9367814,7 C12.9367814,6.448 13.3931854,6 13.9578194,6 L18.0419716,6 C18.6066057,6 19.0630097,6.448 19.0630097,7 L19.0630097,8.586 C19.7613997,8.864 20.4209903,9.24 21.0193186,9.697 L22.426309,8.902 C22.6601267,8.769 22.9398912,8.734 23.2012769,8.802 C23.4626626,8.87 23.6852489,9.038 23.821047,9.267 L25.8631231,12.731 C26.1449296,13.209 25.9774794,13.821 25.4904442,14.097 L24.0854959,14.892 C24.1406319,15.265 24.1681999,15.636 24.1681999,16 C24.1681999,16.364 24.1406319,16.735 24.0854959,17.108 L25.4904442,17.903 C25.9774794,18.179 26.1449296,18.791 25.8631231,19.269 L23.821047,22.733 C23.6852489,22.962 23.4626626,23.13 23.2012769,23.198 C22.9398912,23.266 22.6601267,23.231 22.426309,23.098 L21.0193186,22.303 C20.4209903,22.76 19.7613997,23.136 19.0630097,23.414 L19.0630097,25 C19.0630097,25.552 18.6066057,26 18.0419716,26 L13.9578194,26 C13.3931854,26 12.9367814,25.552 12.9367814,25 L12.9367814,23.415 C12.2383913,23.135 11.5788007,22.76 10.9804724,22.302 L9.57348201,23.097 C9.08440478,23.373 8.46157157,23.208 8.17874403,22.73 L6.13666793,19.267 C6.00086987,19.037 5.9641125,18.764 6.03456412,18.508 C6.10501575,18.252 6.27655014,18.033 6.51036785,17.901 L7.91429518,17.107 C7.85915912,16.734 7.83159109,16.363 7.83159109,16 Z M9.8736672,16 C9.8736672,16.455 9.92982429,16.908 10.0452016,17.39 C10.1493475,17.82 9.95330817,18.265 9.56225059,18.485 L8.41562486,19.133 L9.43666291,20.865 L10.5843097,20.217 C10.9784304,19.997 11.4695497,20.053 11.7962819,20.357 C12.4936508,21.002 13.3431545,21.483 14.2498363,21.749 C14.6827564,21.875 14.9788575,22.266 14.9788575,22.707 L14.9788575,24 L17.0209336,24 L17.0209336,22.707 C17.0209336,22.265 17.3180556,21.875 17.7509758,21.749 C18.6556155,21.484 19.5030771,21.003 20.2035092,20.357 C20.5322834,20.053 21.0254448,19.996 21.4154813,20.217 L22.5631281,20.866 L23.5841662,19.135 L22.4375404,18.484 C22.0464829,18.264 21.8504436,17.819 21.9545894,17.39 C22.0699667,16.908 22.1261238,16.454 22.1261238,16 C22.1261238,15.546 22.0699667,15.092 21.9545894,14.61 C21.8504436,14.181 22.0464829,13.736 22.4375404,13.516 L23.5841662,12.865 L22.5631281,11.134 L21.4154813,11.783 C21.0254448,12.004 20.5322834,11.947 20.2035092,11.643 C19.5030771,10.997 18.6556155,10.516 17.7509758,10.251 C17.3180556,10.125 17.0209336,9.735 17.0209336,9.293 L17.0209336,8 L14.9788575,8 L14.9788575,9.293 C14.9788575,9.734 14.6827564,10.125 14.2498363,10.251 C13.3431545,10.517 12.4936508,10.998 11.7962819,11.643 C11.4695497,11.947 10.9784304,12.003 10.5843097,11.783 L9.43666291,11.135 L8.41562486,12.867 L9.56225059,13.515 C9.95330817,13.735 10.1493475,14.18 10.0452016,14.61 C9.92982429,15.092 9.8736672,15.545 9.8736672,16 Z M16,18 C14.8954305,18 14,17.1045695 14,16 C14,14.8954305 14.8954305,14 16,14 C17.1045695,14 18,14.8954305 18,16 C18,17.1045695 17.1045695,18 16,18 Z")
                                
                                svg(viewBox="0 0 32 32")
                                    path(d="M15.3827 7.0786C15.0087 6.9246 14.5787 7.0096 14.2927 7.2956L9.9997 12.0026 6.9997 12.0026C6.4497 12.0026 5.9997 12.4536 5.9997 13.0026L5.9997 19.0026C5.9997 19.5526 6.4497 20.0026 6.9997 20.0026L9.9997 20.0026 14.2927 24.7096C14.5787 24.9956 15.0087 25.0806 15.3827 24.9266 15.7567 24.7726 15.9997 24.4076 15.9997 24.0026L15.9997 8.0026C15.9997 7.5986 15.7567 7.2326 15.3827 7.0786M17.9999 13.0024L17.9999 15.0024C18.5509 15.0024 18.9999 15.4514 18.9999 16.0024 18.9999 16.5534 18.5509 17.0024 17.9999 17.0024L17.9999 19.0024C19.6539 19.0024 20.9999 17.6574 20.9999 16.0024 20.9999 14.3484 19.6539 13.0024 17.9999 13.0024z")
                        
                    article.kahoot
                        .kahoot__incorrect
                            p.kahoot__incorrect__text.kahoot--correct-incorrect__text
                                |Incorrect
                            p.kahoot__incorrect__text--times-up.kahoot--correct-incorrect__text
                                |Time's up

                            svg(width="80",height="80",viewBox="0 0 80 80")
                                circle(cx="40",cy="40",r="37.895",fill="#F35", stroke="#FFF",stroke-width="4.211")
                                path(d="M39.99 12.621v14.736l14.736.001V39.99H39.99v14.736H27.359V39.99H12.62V27.359h14.736l.001-14.737H39.99z",transform="translate(6.316 6.316) rotate(-135 33.674 33.674)",fill="#FFF",fill-rule="nonzero" stroke="#000",stroke-opacity="0.15",stroke-width="2.105")
                        .kahoot__correct
                            p.kahoot__correct__text.kahoot--correct-incorrect__text
                                |Correct
                            svg(width="80",height="80",viewBox="0 0 80 80")
                                circle(cx="40",cy="40",r="37.895",fill="#66BF39", stroke="#FFF",stroke-width="4.211")
                                path(d="M46.244 15.355l8.127 7.393-25.623 28.184-15.526-14.483 7.743-7.747 7.333 6.396 17.946-19.743", transform="translate(6.316 6.316) rotate(-3 33.81 33.138)", fill="#FFF", fill-rule="nonzero", stroke="#000", stroke-opacity="0.15", stroke-width="2.105")

                article.kahoot
                    .kahoot__qualifications 
                        .kahoot__qualifications__square 
                        .kahoot__qualifications__circle
                        .kahoot__qualifications__scoreboard
                            p Scoreboard 
                        .kahoot__qualifications__information 
                            .kahoot__qualifications__information__content
                                p.kahoot__qualifications__information__name 
                                    |Alejandro:
                                .kahoot__qualifications__information__correct-incorrect
                                    p.kahoot__qualifications__information__correct-incorrect__correct
                                        |0 Respuestas correctas
                                    p.kahoot__qualifications__information__correct-incorrect__incorrect
                                        |0 Respuestas incorrectas
                        .kahoot__qualifications__space
        script(src="./js/main.js") 